@font-face {
    font-family: "San Francisco";
    src: url(./fonts/SF-Pro-Display-Light.otf);
    font-weight: 400;
}

@font-face {
    font-family: "San Francisco";
    src: url(./fonts/SF-Pro-Display-Medium.otf);
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    font-family: "San Francisco", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #84c8ff;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.txtb {
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 25px;
    border: none;
    font-size: 18px;
    box-shadow: 5px 5px 10px #e0e0e0;
}

.notcomp, .comp {
    width: 100%;
}

h1 {
    width: 90%;
    margin: 100px auto 25px;
    text-align: center;
    color: #ffffff;
}

h3 {
    width: 90%;
    margin: 25px auto;
    text-align: center;
    color: #ffffff;
}

.task {
    width: 100%;
    background: #ffffff;
    padding: 10px 25px;
    margin: 6px 0;
    border-radius: 20px;
    overflow: hidden;
    font-weight: 900;
}

.task i {
    float: right;
    margin-left: 20px;
    cursor: pointer;
}

.comp .task {
    background: #00000080;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
}